@model IEnumerable<EasyInventory.PgData.Entities.Product>
@{
    double TotalSalePrice = 0;
    double TotalPurchasePrice = 0;
    int TotalStock = 0;
    int carton = 0;
    int piece = 0;
}

<section class="inventory-surface inventory-table-card">
    <div class="inventory-toolbar" style="margin-bottom: 18px;">
        <div>
            <h2 class="inventory-toolbar__title">Product Directory</h2>
            <p class="inventory-toolbar__subtitle">Use the menu inside each product name to jump into sales or purchase history.</p>
        </div>
    </div>

    <table class="table table-hover cell-border" id="ProductIndex">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayName("Supplier")</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.PurchasePrice)</th>
                <th>@Html.DisplayNameFor(model => model.SalePrice)</th>
                <th>@Html.DisplayNameFor(model => model.Stock)</th>
                <th>@Html.DisplayNameFor(model => model.PerPack)</th>
                <th>Total Purchase Price</th>
                <th>Total Sale Price</th>
                <th>@Html.DisplayNameFor(model => model.Saleable)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="ProductIdForSearch">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Supplier.Name)</td>
                    <td class="ProductNameForSearch">
                        <ul class="inventory-product-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @item.Name <b class="caret"></b>
                                </a>
                                <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                                    <li><a href="@Url.Action("SearchProduct", "SOSR", new { productId = item.Id })" data-toggle="tooltip" data-placement="top" title="Search this product in Sales">Search in Sales History</a></li>
                                    <li><a href="@Url.Action("SearchProduct", "POPR", new { productId = item.Id })" data-toggle="tooltip" data-placement="top" title="Search this product in Purchases">Search in Purchases History</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PurchasePrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.SalePrice)</td>
                    <td>
                        @{
                            carton = (int)(item.Stock / item.PerPack);
                            piece = (int)(item.Stock % item.PerPack);
                            if (piece == 0)
                            {
                                @(carton)
                            }
                            else
                            {
                                @(carton + "," + piece)
                            }

                            TotalStock += (int)(item.Stock / item.PerPack);
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PerPack)</td>
                    <td>
                        @((item.PurchasePrice * item.Stock).Value.ToString("0.00"))
                        @{ TotalPurchasePrice += (double)(item.PurchasePrice * item.Stock); }
                    </td>
                    <td>
                        @((item.SalePrice * item.Stock).Value.ToString("0.00"))
                        @{ TotalSalePrice += (double)(item.SalePrice * item.Stock); }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Saleable)</td>
                    <td>
                        @Html.ActionLink("Update", "Edit", new { id = item.Id }, new { @class = "inventory-link-action" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="font-weight:bold">
                <td>@Model.Count()</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@TotalStock</td>
                <td></td>
                <td>@TotalPurchasePrice.ToString("0.00")</td>
                <td>@TotalSalePrice.ToString("0.00")</td>
                <td>Projected Profit</td>
                <td>= @((TotalSalePrice - TotalPurchasePrice).ToString("0.00"))</td>
            </tr>
        </tfoot>
    </table>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ProductIndex').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "bInfo": false,
            "order": [[0, "desc"]],
            "searching": false
        });
    });
</script>
