@model IEnumerable<EasyInventory.PgData.Entities.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var supplierRecords = ((IEnumerable<EasyInventory.PgData.Entities.Supplier>)ViewBag.Suppliers).Count();
    var saleableItems = Model.Count(p => p.Saleable == true);
    var hiddenFromSales = Model.Count(p => p.Saleable != true);
}

<link href="@Url.Content("~/Content/custom/downloads/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Content/custom/downloads/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Content/custom/supplierPOPR.js"></script>
<link href="~/Content/custom/downloads/datatables.min.css" rel="stylesheet" />
<script src="~/Content/custom/downloads/datatables.min.js"></script>
<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>

<div class="sp-page">
    <section class="sp-hero">
        <div class="sp-hero__icon"><i class="fa fa-cube"></i></div>
        <div class="sp-hero__text">
            <h1 class="sp-hero__title">Product Catalog</h1>
            <p class="sp-hero__subtitle">Manage your entire product inventory</p>
        </div>
        <div class="sp-hero__actions">
            <a href="/Products/Create" id="createProduct" class="btn btn-primary"><i class="fa fa-plus"></i> Add Product</a>
        </div>
    </section>

    <div class="sp-stat-grid">
        <div class="sp-stat-card">
            <div>
                <p class="sp-stat-card__label">Total Products</p>
                <p class="sp-stat-card__value">@Model.Count()</p>
            </div>
            <span class="sp-stat-card__icon"><i class="fa fa-cube"></i></span>
        </div>
        <div class="sp-stat-card">
            <div>
                <p class="sp-stat-card__label">Categories</p>
                <p class="sp-stat-card__value">@supplierRecords</p>
            </div>
            <span class="sp-stat-card__icon"><i class="fa fa-folder"></i></span>
        </div>
        <div class="sp-stat-card">
            <div>
                <p class="sp-stat-card__label">Low Stock</p>
                <p class="sp-stat-card__value">@hiddenFromSales</p>
            </div>
            <span class="sp-stat-card__icon"><i class="fa fa-warning"></i></span>
        </div>
    </div>

    <section class="inventory-surface">
        <div class="inventory-toolbar">
            <div>
                <h2 class="inventory-toolbar__title">Filter by Supplier</h2>
                <p class="inventory-toolbar__subtitle">Use the supplier search below to narrow the catalog without leaving the page.</p>
            </div>
        </div>

        <form name="registration_form_Product" id="registration_form_Product" style="margin-top: 18px;">
            <div class="inventory-form-inline">
                <input type="hidden" name="SupplierId" id="idnSupplier" value="" />
                <input type="text" autocomplete="off" class="form-control" name="Supplier.Name" id="supplier" value="" placeholder="Search by supplier" data-toggle="tooltip" data-placement="top" title="Search by supplier">
                <input type="button" value="Go" id="btnSearch" class="btn btn-info add-new" />
            </div>
        </form>
    </section>

    <div id="NewData">
        @{Html.RenderPartial("_SelectedProducts", Model);}
    </div>
</div>

<script type="text/javascript">
    @foreach (var d in ViewBag.Suppliers)
    {
        @: suppliers.push(["@d.Id", "@d.Name", "@d.Address", "@d.Balance"]);
    }

    OnTypeSupplierName('#supplier');
    $(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd-M-yy',
            showOn: "both"
        });
    });

    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var suppId = $('#idnSupplier').val();

            if ($('#supplier').val().trim() != "" && $('#idnSupplier').val() == "") {
                alert('Supplier not selected. Please select supplier from list');
                return false;
            }

            $.ajax({
                url: "@Url.Action("SearchData", "Products")",
                data: { 'suppId': suppId },
                type: "GET",
                cache: false,
                success: function (data) {
                    $("#NewData").html(data);
                },
                error: function () {
                    alert('Data provided was not valid');
                }
            });
        });
    });
</script>
