@model EasyInventory.PgData.Entities.MyBusinessInfo

@{
    ViewBag.Title = "Business Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sp-page">
    <section class="sp-hero">
        <div class="sp-hero__icon"><i class="fa fa-cog"></i></div>
        <div class="sp-hero__text">
            <h1 class="sp-hero__title">Business Settings</h1>
            <p class="sp-hero__subtitle">Manage your business information and preferences</p>
        </div>
    </section>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-8">
                <div class="inventory-surface">
                    <div class="inventory-toolbar">
                        <div>
                            <p class="inventory-toolbar__title">Business Information</p>
                            <p class="inventory-toolbar__subtitle">Basic details about your business</p>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 18px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BizName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.BizName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BizName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tagline, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Tagline, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Tagline, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-surface" style="margin-top: 20px;">
                    <div class="inventory-toolbar">
                        <div>
                            <p class="inventory-toolbar__title">Business Address</p>
                            <p class="inventory-toolbar__subtitle">Physical location of your business</p>
                        </div>
                    </div>
                    <div style="margin-top: 18px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BizAddress, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.BizAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BizAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 18px;">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    }
</div>
@section Scripts {
    
}
